<h1>New developer</h1>

<p>
This is a live demo of 
<%= link_to "this pull request", "https://github.com/rails/rails/pull/8638" %>
that changes some edge cases in how rails process errors.
</p><p>

With this patch we can build a web form that can submits itself with ajax in more easy way.
</p>
<p>
<%= link_to "100 lines of code AjaxSubmit library", "https://github.com/bogdan/ajaxsubmit" %>

</p> 
<p>Play around this form validation and ensure it works with ajax entirely</p>

<p> <%= link_to "Demo source code", "https://github.com/bogdan/ajax_validation_demo" %></p>


<%= render 'form' %>

<%= link_to 'Back', developers_path %>
